.section {
    width: 600px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.title {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin: 0;
    background-color: white;
    color: darkslategray;
    text-transform: uppercase;
    border-radius: 6px;
    
}